@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.jetbrains-mono-global {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sec-spacing {
  margin-top: 2.5rem; 
}

.title {
  font-size: 32px
}

.important-text {
  cursor: pointer;
}

.important-text:hover {
  color: white;
  cursor: pointer;
  transition: color 0.01s ease-in-out;
}

.relevant-text {
  font-size: 16px;
}

.less-text {
  font-size: 14px;
}

.relevant-icon {
  display: inline;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.less-icon {
  display: inline;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.just-icon {
  display: inline;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}